<div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right" role="tablist">
          <li role="presentation" class="active"><%= link_to "back", root_path %></li>
        </ul>
        <h1 class="text-muted">About</h1>
      </div>
</div>


<p>全站現有使用者：<%= User.count %></p>

<p>主題數：<%= Topic.count %></p>

<p>回覆數：<%= Reply.count %></p>  


