<h1>Topic</h1>

<%= link_to "new topic", new_topic_path %>


<table>
 <% @topics.each do |topic| %>
  <tr>
   <td>title:<%= link_to topic.title, topic_path(topic) %></td>
   <td>category:<%= topic.category %></td>
  </tr>

  <!-- <tr>
   <td><%#= topic.date %></td>
  </tr>
 -->
   
   <% if current_user == topic.user %>                               
   <%= link_to "delete", topic_path(topic), method: :delete, data: {confirm: 'are you sure?'} %> 
   <% end %>
  
 <% end %>
</table>

