// Place all the styles related to the topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//signin page
.signin_page{
  width: 250px;
  margin: 5% auto;
}
.form-control{
  margin-left: -16px;
  margin-top: 10px;
}
.signin_btn{
  font-size: 18px;
  padding: 9px 83px;  
  border-radius: 5px;
  border-style: none;
  background-color: rgba(102, 170, 221,.8);
  color: white;
}
.signin_btn:hover{
  background-color: rgba(102, 170, 221,1);
}
.signin_page h2{
  margin-left: 57px
}
.other_link{
  text-align: center;
  margin-left: -27px;
  margin-top: 10px;
}
//
